@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    font-size: small;

}

#hr {
    margin: 2px;
}

/* Estilos para el header de INICIO / REGISTRO */
#inicio-sesion-registro {
    padding: 3px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inicio-sesion-registro img {
    padding-bottom: 8px;
    padding-right: 10px;
}

#inicio-sesion-registro a {
    text-decoration: none;
    color: #000000;
}

#inicio-sesion-registro a:hover {
    color: #82C294;
}

#inicio-sesion-registro ion-icon {

    margin-right: 10px;
    color: #000000;
    font-size: 1.2em;
    top: 20px;
}

/* Estilos para el Header LOGO y categoria */

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#container-logo {

    width: 15%;

}

/* Estilos para el SELECT de CATEGORIAS*/
#container-categoria {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-end;
}


select {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para el contenedor de búsqueda */
.container-search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: nowrap;
}


#search-input {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    padding: 10px;
    font-size: 16px;
    width: 400px;
    max-width: max-content;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-button {
    padding: 10px;
    font-size: 16px;
    width: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.container-icons {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

button:hover {
    background-color: #82C294;
}

.breadcrumb-item a {
    font-size: medium;
    margin-left: 40px;
    text-decoration: none;
    color: rgb(72 79 88);
}

.breadcrumb-item a:hover {
    text-decoration: none;
    color: rgb(53, 197, 178);
}

.breadcrumb-item p {
    text-decoration: none;
    font-size: medium;
}


.ul-nav {
    margin-bottom: 0;
    background-color: #82C294;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    list-style: none;
    height: 50px;

}

.ul-nav * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.ul-nav a {
    position: relative;
    color: rgba(77, 80, 77, 0.5);
    padding: 0.5rem 0.8rem;
    text-decoration: none;
}

.ul-nav a:before,
.ul-nav a:after {
    position: absolute;
    height: 15px;
    width: 15px;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
}

.ul-nav a:before {
    right: 0;
    top: 0;
    border-right: 3px solid #0aec6c;
    border-top: 3px solid #0aec6c;
    -webkit-transform: translate(-100%, 50%);
    transform: translate(-100%, 50%);
}

.ul-nav a:after {
    left: 0;
    bottom: 0;
    border-left: 3px solid #0aec6c;
    border-bottom: 3px solid #0aec6c;
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
}

.ul-nav a:hover {
    color: white;
}

.ul-nav a:hover:before,

.ul-nav a:hover:after {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
}


/*Estilos para Conocenos*/

h3 {
    text-align: center;
}

h2 {
    color: rgba(77, 80, 77, 0.5) !important;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 1%;
}

.left {
    display: flex;
    align-items: center;
    margin-bottom: 0% !important;
}

.parrafos {
    display: block;
    text-align: justify;
    margin-right: 20%;
    margin-left: 3%;
}

.parrafo1 {
    margin-top: 5% !important;
    margin-bottom: 7% !important;
}

#parrafo4 {
    margin-top: 2% !important;
}

#img-conocenos {
    width: 15;
    max-height: 400px !important;
    margin-left: 20%;
    border-radius: 5%;
}

.parrafo4 {
    text-align: center;
    margin-top: 2%;
    padding-right: 7%;
    padding-left: 7%;
    padding-bottom: 2%;
}

p {
    text-align: justify;
    width: 100%;
}

/*Estilos para introduccion*/
.introduccion {
    margin-top: 70px;
    margin-bottom: 40px;

}

/* Imgs */
.imgs {
    display: flex;
    justify-content: space-between;
}

#venta {
    margin-left: 5%;
    width: 314px;
    height: 314px;
}

#servicio {
    width: 296px;
    height: 296px;
}

#cooperacion {
    margin-right: 5%;
    width: 297px;
    height: 318px;
}

/* PREGUNTAS */
.preguntas {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #82C294;
}

#titulo1 {
    margin-left: 6%;
    width: 296px;
    height: 94px;
}

#titulo2 {
    width: 296px;
    height: 94px;
}

#titulo3 {
    margin-right: 5%;
    width: 296px;
    height: 94px;
}

/* Estilo para Objetivos imgs */
#ODS {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

#pobreza {
    margin-left: 5%;
}

#produccion {
    margin-right: 5%; 
}

/* Estilos para  footer */

footer {
    background-color: rgb(88, 88, 88);
    color: white;
    padding: 30px 0;
    margin-top: 30px;
    text-align: center;
}